.config/configstore
.config/dconf
.config/fish/fishd.AdalbertDEV
.config/neomutt/mailboxes
.config/**/node_modules
.config/pulse
.config/qutebrowser/qsettings
.config/qutebrowser/autoconfig.yml
.config/Slack
