.config/dconf
.config/fish/fishd.AdalbertDEV
.config/**/node_modules
.config/pulse
.config/nvim/spell
.config/coc/extensions/coc-java-data
.config/coc/memos.json
.config/coc/history.json
.config/fish/fish_variables
