[Unit]
Description=ActivityWatch Window Watcher
After=display-manager.service

[Service]
ExecStart=aw-watcher-window
Restart=on-failure
Environment=DISPLAY=:0 XAUTHORITY=/run/user/1000/Xauthority

[Install]
WantedBy=default.target
