[Unit]
Description=ActivityWatch AFK Watcher
After=display-manager.service

[Service]
ExecStart=aw-watcher-afk
Restart=on-failure

[Install]
WantedBy=default.target
