[Unit]
Description=Changes wallpaper to a random one

[Service]
ExecStart=/usr/bin/feh --no-fehbg --bg-fill --randomize %h/Pictures/Wallpapers/current
