[Unit]
Description=Mailbox synchronization service

[Service]
Environment=GNUPGHOME=%h/.local/share/gnupg
ExecStart=/usr/bin/mbsync -Va -c %h/.config/isync/mbsyncrc